openapi: 3.1.1
info:
  title: CRUD API
  version: 1.0.0
  description: A CRUD API project docs
  contact: 
    email: dennis2peprah@gmail.com
    name: Dennis Peprah
servers:
  - url: http://localhost:3000/api
paths:
  /create:
    post:
      summary: Register User Endpoints
      description: Endpoints for registering and managing users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "201":
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: User already exists or Duplicated User Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500": 
          $ref: "#/components/responses/ServerError"
  /create/newUser:
    post:
      summary: Create New User Endpoint
      description: Endpoint for creating a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "201":
          description: New user created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: User already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

        "500": 
          $ref: "#/components/responses/ServerError"
  /delete/{id}:
    delete:
      summary: Delete User by ID Endpoint
      description: Endpoint for deleting a user by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User with ID deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "400":
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          $ref: "#/components/responses/ServerError"
  /deleteByEmail/{email}:
    delete:
      summary: Delete User by Email Endpoint
      description: Endpoint for deleting a user by email
      parameters:
        - in: path
          name: email
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User with provided email deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "400":
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          $ref: "#/components/responses/ServerError"
  /deleteAll:
    delete:
      summary: Delete All Users Endpoint
      description: Endpoint for deleting all users
      responses:
        "200":
          description: All users deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          $ref: "#/components/responses/ServerError"
  /login:
    post:
      summary: User Login Endpoint
      description: Endpoint for user /login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password: 
                  type: string
      responses:
        "200":
          description: Login successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  user:
                    $ref: "#/components/schemas/User"
                  token:
                    type: string
        "400":
          description: User not found/Invalid Password
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500": 
          $ref: "#/components/responses/ServerError"
  /getUser/{email}:
    get:
      summary: Get User by Email Endpoint
      description: Endpoint to get user by email
      parameters:
        - in: path
          name: email
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500": 
          $ref: "#/components/responses/ServerError"
  /all-users:
    get:
      summary: Get All Users Endpoint
      description: Endpoint to get all users
      responses:
        "200":
          description: Users found successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        "400":
          description: No users found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          $ref: "#/components/responses/ServerError"
  /update/id/{id}:
    put:
      summary: Update User by ID Endpoint
      description: Endpoint to update user by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          $ref: "#/components/responses/ServerError"
  /update/email/{email}:
    put:
      summary: Update User by Email Endpoint
      description: Endpoint to update user by Email
      parameters:
        - in: path
          name: email
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          $ref: "#/components/responses/ServerError"  


components:
  schemas:
    User:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
  responses:
    ServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string